<div class="jumbotron">
  <h1 class="orange">Find a route near you.</h1>
  <br>
  <form role="form">
	  <div class="form-group">
	    <label for="location">Location/ZIP</label>
	    <input type="email" class="form-control" id="location" placeholder="e.g. Kent Ridge/118424">
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary btn-lg">Find nearby</button>
	</form>
</div>